@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{

  padding: 0;
  margin: 0;
}

.containerlo{
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 1320px;
  height: 80px;
  margin: 26px 0px 26px 0px;
}

.elemento{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  line-height: 25px;
  margin: 26px 0px 26px 0px;
}

.mini{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  margin: 0 0 14px 0;
}
.mini figure{
  width: 13%;

  text-align: left;
  margin-right: 15px;
  line-height: 26px;
}
.mini h6{
  margin: 0;
  padding: 0;
  
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
}
.mini p{

  font-size: 11.5px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;line-height: 20px;
}
.mini text{
  display: block;
  text-align: left;
}
figure img{
  width: 100%;
  
}